@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 62.5%; /* Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
  background-image: linear-gradient(
    94.3deg,
    hsla(229, 42%, 18%, 1) 10.9%,
    hsla(235, 17%, 38%, 1) 87.1%
  );
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px hsl(0, 100%, 50%) solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: hsl(0, 0%, 100%);
  }
}

/* CSS Reset end */

h1,
.score {
  text-align: center;
  font-size: 40px;
  margin: 30px 0 50px;
  color: white;
}

canvas {
  background: hsl(0, 0%, 95%);
  display: block;
  margin: 0 auto;
}
